<%- include("partials/header") %>

<div class="container">
    <div class="row mt-4">
        <div class="col-6 show_image-container">
                <img src="<%= album.image %>" >
        </div>
        <div class = "col-6 show_detail-container">
          <div class="row">
          <div class="col-9">
                <h1><%=album.title%></h1>
          </div>  
          <div class="col-3">
          <!-- <% if(user && user.favorites.findIndex(item=>item.favid===album._id.toString())>=0){ %> -->
              <!-- <button id="add_favorite" class="btn btn-dark  btn-sm ">Remove From Favorite</button> -->

              <!-- <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button  id="add_favorite" class="btn btn-outline-none btn-sm" style="width:100%;">Add to Favorites</button>
                
                 
                </div>
              </div>
             
          <% } else if(user){%> -->
            <!-- <button id="add_favorite" class="btn btn-outline-primary btn-sm ">Add to Favorites</button> -->

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add to
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button  id="add_favorite" class="btn btn-outline-none btn-sm" style="width:100%;">Favorites</button>
                <div class="dropdown-divider"></div>
               
              </div>
            </div>
          <!-- <%}%> -->
            
          </div>
        </div>
              
                <p><%=album.description%></p>
                <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">Artist</th>
                        <td><%=album.artist%></td>
                       
                      </tr>
                      <tr>
                        <th scope="row">Record Label</th>
                        <td><%=album.recordLabel%></td>
                      
                      </tr>
                      <tr>
                        <th scope="row">Release Date</th>
                        <td><%=album.date%></td>
                      
                      </tr>
                      <tr>
                        <th scope="row">Number of Tracks</th>
                        <td><%=album.trackListLength%></td>
                       
                      </tr>
                      <tr>
                        <th scope="row">Notable Songs</th>
                        <td><%=album.notableTracks%></td>
                      
                      </tr>
                      <tr>
                        <th scope="row">Genre</th>
                        <td><%=album.genre%></td>
                      
                      </tr>
                    </tbody>
                  </table>
                <% if(user && user.username===album.owner.username){ %>
                    <a href="/albums/<%=album._id%>/edit"> <button class="btn btn-outline-info btn-lg btn-block mb-2">Edit</button></a>
                  
                    <form action="/albums/<%=album._id%>?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-outline-danger btn-lg btn-block">Delete</button>
                    </form>
                  <% } %>
        </div>
    </div>
    <div class="row">
      <a class = 'col-3'href="/albums/<%=album._id%>/comments/new"><button class="btn btn-success btn-lg mt-3 mb-4">ADD COMMENT</button></a>
      <div class="col-2 mt-3">
        <% if(user && album.upvotes.indexOf(user.username)>=0){ %>
          <button id="upvote_btn" class="btn btn-success btn-lg -mt-3">+</button>
         
        <% }else if(user){ %>
        <button id="upvote_btn" class="btn btn-outline-success btn-lg -mt-3">+</button>
        <%} %>
        <span id="score" class="mx-2"><%= album.upvotes.length - album.downvotes.length %></span>
        <% if(user && album.downvotes.indexOf(user.username)>=0){ %>
          <button id="downvote_btn" class="btn btn-danger btn-lg -mt-3">-</button>
         
        <% }else if(user){ %>
        <button id="downvote_btn" class="btn btn-outline-danger btn-lg -mt-3">-</button>
        <%} %>
      </div>
    </div>
    <!--
    <div class = "row show_comment-header mt-3">
        COMMENT HEADER
    </div>
    -->



    <% comments.forEach((comment => { %>
    <div class = "row show_comment-container py-2 border">
            <div class = "col-2 border-right my-auto"><%= comment.user.username %></div>
            <div class="col-2 border-right my-auto d-flex flex-wrap justify-content-center">
              <% if(user && user.username===comment.user.username){ %>
                <a href="/albums/<%=album._id%>/comments/<%=comment._id%>/edit" class="btn btn-sm btn-success w-75 p-0 my-1">Edit</a>
                <form action="/albums/<%=album._id%>/comments/<%=comment._id%>?_method=DELETE" class="w-75 my-1" method="POST"><button class="btn btn-sm btn-danger w-100 p-0">Delete</button></form>
              <% } %>
            </div>
            
            <div class = "col-8 my-auto"><%= comment.text %></div>
    </div>

    <% })) %>
    <div class="py-5"></div>
</div>
<script> var albumId = "<%- album._id %>" </script>
<script src="/js/albums_show.js"></script>
<%- include("partials/footer") %>