<%- include("partials/header") %>

<div class="container">
    <h1>Profile</h1>
    <p  >Username: <%=user.username%></p>
    <div><a href="/profile/<%=user.username%>/lists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/new"><h6>Create New List</h6></a></div> 
    <h5>Favorites</h5>
    <% if(albums.length!=0){ %>  
    <% albums.forEach((album => { %>
            <div class="col-2 show_image-fav">
               <a href="/albums/<%=album.favid%>"><img src="<%=album.image%>" alt="Image of one of the user's favorite albums"></a> 
            </div>
    <%} ))%>
    <div class="col-2 my-5">
        <a href="/profile/favorites">See all</a>
    </div>
    </div>
    <%}else{%>
        <div class="col-12"><p>No favorites</p></div>
        
    <%}%>
   
 
    
    
</div>

<%- include("partials/footer") %>